.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 0;
  margin: 0;
  padding: 80px 20px 0px 20px;

  h1 {
    font-family: Montserrat;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
  }

  p {
    font-size: 14px;
    margin-left: 15px;
    margin-top: 5px;
  }

  form {
    margin-top: 20px;
    border: 1px solid gray;
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    p {
      margin-left: 0px;
    }
  }
}
