.container {
  width: 100vw;
  height: 100vh;
  /* margin-bottom: 350px; */
  /* background-color: red; */

  .seta_voltar {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .capa {
    height: 170px;
    width: 100%;
    object-fit: fill;
  }
  .detalhes_container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    .titulo {
      font-size: 17px;
      color: black;
      font-weight: 700;
    }

    .descricao {
      font-size: 14px;
      color: #555353;
    }

    .preco {
      font-size: 17px;
      color: #28d84f;
      font-weight: bold;
    }

    .taxa_de_entrega {
      font-size: 13px;
      color: #3c3b3b;
    }

    .chao {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
